
@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    outline: none; /*подсвечивание текста при инпуте*/
}

html{height:100%}

body{
    width: 100%;
    height: 100%;
    background-color: #C9E02D;
    color: #333333;
    font-family: "Segoe UI", Arial, sans-serif; /*Шрифт*/
    font-size: 1em;
    line-height: 135%; /*Расстояние между строками*/
    float: left;
}

img{
    max-width: 100%;
    height: auto;
    width: auto\9;
}

a{
    text-decoration: none; /*Подчеркивание текста*/
    color: #C9E02D;
}


a, a:hover{
    -webkit-transition: all.6s ease; /*изменение цвета ссылки через время*/
    -moz-transition: all.6s ease;
    -o-transition: all.6s ease;
    -ms-transition: all.6s ease;
    transition: all.6s ease;
}

.clear{
    clear: both;
}

/*Стили для шапки*/

header{
    width: 98%;
    float: left;
    padding: 1%;
    background-color: #4C91A0;
    border-bottom: 3px solid #274E5D;
    margin-bottom: 20px;
}

header #logo{
    width: 30%;
    float: left;
}

header #logo a{
    color: #C9E02D;
    font-size: 2em;
    font-family: "Times New Roman", sans-serif;
}


header #regAuth{
    width: 70%;
    float: left;
    text-align: right;
    font-size: 1.3em;
    color: #274E5D;
}

/*Стили для всего документа*/

#wrapper{
    width: 80%;
    margin-left: 10%;
    float: left;
}
/*Стили для левой колонки*/

#wrapper #leftCol #bigArticle{
    width: 78%;
    margin-left: 10%;
    background-color: #f6f6f6;
    padding: 1%;
    float: left;
}

#wrapper #leftCol #bigArticle img{
    width: 100%;
    float: left;
    margin-bottom: 10px;
}

#wrapper #leftCol #bigArticle p #wrapper #leftCol .article p{
    width: 90%;
    margin-left: 5%;
}

#wrapper #leftCol #bigArticle div.more, #wrapper #leftCol .article div.more{
    padding: 5px;
    border-radius: 5px;
    background-color: #878787;
    color: #ffffff;
    width: 10%;
    text-align: center;
    margin-top: 10px;
}

#wrapper #leftCol .article div.more{
    width: 20%;
}

#wrapper #leftCol input{
    width: 40%;
    float: left;
    margin-left:30%;
    border: 2px solid silver; /*рамки вокург банеров*/
    border-radius: 5px;
    padding: 5px;
    color: #106a1b;
    margin-bottom: 10px;
    font-size: 1.2em;
}

#wrapper #leftCol input:focus, #wrapper #leftCol textarea:focus{
    border: 2px solid #106a1b;
}

#wrapper #leftCol #done:hover{
    border: 2px solid #106a1b;
    cursor: pointer;
}

#wrapper #leftCol textarea{
    width: 50%;
    height: 150px;
    float: left;
    margin-left:25%;
    border: 2px solid silver; /*рамки вокург банеров*/
    border-radius: 5px;
    padding: 5px;
    color: #106a1b;
    margin-bottom: 10px;
    font-size: 1.2em;
    resize: none;
}

#wrapper #leftCol #bigArticle div.more:hover, #wrapper #leftCol .article div.more:hover{
    background-color: #9f9f9f;
}


#wrapper #leftCol #bigArticle h2, #wrapper #leftCol .article h2{
    font-weight: normal;
    font-size: 1em;
    color: #363636;
    font-family: "Comic Sans MS", sans-serif;
}

#wrapper #leftCol .article{
    width: 40%;
    margin-left: 5%;
    background-color: #f6f6f6;
    padding: 1%;
    float: left;

}


#wrapper #leftCol{
    width: 70%;
    margin-right: 10%;
    float: left;
}

#wrapper #leftCol #messageShow{
    font-size: 1.2em;
    float: left;
    color: red;
    width: 100%;
    text-align: center;
}

/*Стили для страницы о нас*/
#wrapper #leftCol #about_us{
    width: 80%;
    margin-left: 10%;
    border: 1px solid silver;
    background-color: #f4f4f4;
}


/*Стили для правой колонки*/
#wrapper #rightCol{
    width: 20%;
    float: left;
}

#wrapper #rightCol .banner{
    width: 100%;
    float: left;
    margin-bottom:20px;
    border: 2px solid #274E5D; /*рамки вокург банеров*/
    box-sizing: border-box;
}



/*Стили для футора*/

footer{
    width: 98%;
    float: left;
    padding: 1%;
    background-color: #4C91A0;
    border-top: 3px solid #274E5D;
    margin-top: 10px;
    height: 30px;
    position:relative;
    left:0px;
    bottom:0px;

}

footer #rights{
    float: right;
    width: 30%;
    text-align: right;
    font-size: 0.8em;
}

footer #social{
    float: left;
    width: 20%;
}

footer #social img{
    width: 30px;
    height: 30px;
    margin-right: 2px;
    border: 3px solid #C9E02D;
    border-radius: 20px;
}

footer #menuFooter{
    width: 50%;
    float: left;
}

footer #menuFooter div{
    float: left;
    padding: 5px;
    background-color: #274E5D ;
    border-radius: 10px ;
    color: #C9E02D;
    font-size: 1.2em;
    text-align: center;
}

footer #menuFooter div:hover{
    border: 3px solid #C9E02D;
    border-radius: 10px;
}


